footer {
   background-color: #000;
	.footer__row {
      margin: 0 30px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      height: 53px;
   }
   .social-list {
      a {
         margin: 0 9px;
      }
      margin-right: 30px;
   }
   .language-list {
      margin-right: 7px;
      a {
         color: #fff;
         font-family: Montserrat;
         font-size: 18px;
         font-style: normal;
         font-weight: 500;
         line-height: 22px;
         letter-spacing: 0em;
         margin-right: 23px;
      }
      a:hover {
         color: #29d3ca;
       }
      .active_lang {
         color: #29d3ca;
      }
   }
   .link {
   }
   .logo_footer {
   }
}
//====================================================================================================

//====================================================================================================
